<div class='detailPage'>
    <div class='chartStyle'>
      <h3 style="position: relative;
      margin-left: -42%;">Well Detail Data</h3>
        <div class="container-fluid main" *ngIf='wellDetails != null'>
           
            <div class="card profile">
              <div class="card-header profileName">
                {{ wellDetails.wellName }}
              </div>
              <div class="card-body profileBody">
                <div class="profilePic">
                  <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Well%2C_Prague_Satalice.jpg/766px-Well%2C_Prague_Satalice.jpg" alt="Username">
                </div>
                <div class="profileInfo">
                  <p>Id: {{ wellDetails.wellId }}</p>
                </div>
                <div class="profileInfo">
                  <p>Operator: {{ wellDetails.operator }}</p>
                </div>
                <div class="profileInfo">
                  <p>Country: {{ wellDetails.country }}</p>
                </div>
                <div class="profileInfo">
                  <p>Status: {{ wellDetails.status }}</p>
                </div>
                <div class="profileInfo">
                    <p>Spud Date: {{ wellDetails.spudDate }}</p>
                </div>
                <div class="profileInfo">
                  <p>Completion Date: {{ wellDetails.completionDate }}</p>
                </div>
              </div>
              <div class="card-footer actions">
                <div class="actionFirst">
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip>{{ wellDetails.latitude | number:'.1-6' }} </mat-chip>
                    </mat-chip-list> Latitude
                </div>
                <div class="actionSecond">
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip>{{ wellDetails.longitude | number:'.1-6' }}</mat-chip>
                    </mat-chip-list> Longitude
                </div>
                <div class="actionSecond">
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip>{{ wellDetails.wellNumber }}</mat-chip>
                    </mat-chip-list> Number
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class='chartStyle' *ngIf="barChartData">
      <h3>County Wise Wells Count</h3>
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
    </div>
    <div class='chartStyle' *ngIf="doughNutChartData">
      <h3>Wells Count</h3>
        <canvas baseChart
            [data]="doughNutChartData"
            [options]="doughNutChartOptions"
            [labels]="barChartLabels"
            [chartType]="doughNutChartType"></canvas>
    </div>
</div>
<div style="margin-top:12%" *ngIf='isLoggedIn'>
  <mat-accordion *ngIf='wellDetailsMC.length'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          MC
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let value of wellDetailsMC">
          
              {{ value.key | uppercase }} : {{ value.value }}

        </li>
      </ul>
      
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf='wellDetailsCP.length'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CP
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let value of wellDetailsCP">
          <ul>
            <li *ngFor="let val of value">
              {{ val.key | uppercase  }} : {{ val.value }}
            </li>
          </ul>
        </li>
      </ul>
      
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf='wellDetailsFT.length'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          FT
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>

            <li *ngFor="let val of wellDetailsFT">
              {{ val.key | uppercase  }} : {{ val.value }}
            </li>

      </ul>
      
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf='wellDetailsPF.length'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          PF
        </mat-panel-title>
      </mat-expansion-panel-header>

          <ul>
            <li *ngFor="let val of wellDetailsPF">
              {{ val.key | uppercase  }} : {{ val.value }}
            </li>
          </ul>
       
      
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf='wellDetailsSurvey.length'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Survey
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>

            <li *ngFor="let val of wellDetailsSurvey">
              {{ val.key | uppercase  }} : {{ val.value }}
            </li>
          </ul>

      
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf='wellDetailsIP.length'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          IP Volume
        </mat-panel-title>
      </mat-expansion-panel-header>

          <ul>
            <li *ngFor="let val of wellDetailsIP">
              {{ val.key | uppercase  }} : {{ val.value }}
            </li>
          </ul>

      
    </mat-expansion-panel>
  </mat-accordion>
</div>
